body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}

.mar-image {
    background: url('img/agua_1.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 43vh;
    position: relative;
    width: auto;
}

.section-2{
    background-color: #efeeef;
}

.mar-text{
    text-align: justify;
}

h3{
    text-align: center;
    color: #03bbf8b0;
}

.about{
    background-color: #010c15;
}