body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}

h3{
    text-align: center;
    color: #03bbf8b0;
}

.title{
    background-color: #010c15;
}

.gallery{
    background-color: #efeeef;
}

/*Columna 1*/
.col1-fila1 {
    background: url('img/agua_1.jpg');
    background-size: 150%;
    background-position: right top;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col1-fila2 {
    background: url('img/agua_3.jpg');
    background-size: 350%;
    background-position: left 30% ;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col1-fila3 {
    background: url('img/mar_1.jpg');
    background-size: cover;
    background-size: 400%;
    background-position: left 60%;
    min-height: 25vh;
    position: relative;
    width: auto;
}

/*Columna 2*/
.col2-fila1 {
    background: url('img/agua_3.jpg');
    background-size: 350%;
    background-position: 15% 18% ;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col2-fila2 {
    background: url('img/mar_1.jpg');
    background-size: 400%;
    background-position: 45% bottom;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col2-fila3 {
    background: url('img/agua_1.jpg');
    background-size: 200%;
    background-position: bottom right;
    min-height: 25vh;
    position: relative;
    width: auto;
}

/*Columna 3*/
.col3-fila1 {
    background: url('img/mar_1.jpg');
    background-size: 400%;
    background-position: 89% 55%;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col3-fila2 {
    background: url('img/agua_1.jpg');
    background-size: 150%;
    background-position: 70% 30%;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col3-fila3 {
    background: url('img/agua_3.jpg');
    background-size: 400%;
    background-position: center bottom;
    min-height: 25vh;
    position: relative;
    width: auto;
}

/*Columna 4*/
.col4-fila1 {
    background: url('img/agua_3.jpg');
    background-size: 500%;
    background-position: 45% 30%;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col4-fila2 {
    background: url('img/mar_1.jpg');
    background-size: 350%;
    background-position: center top;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col4-fila3 {
    background: url('img/mar_2.jpg');
    background-size: 250%;
    background-position: 30% left;
    min-height: 25vh;
    position: relative;
    width: auto;
}

/*Columna 5*/
.col5-fila1 {
    background: url('img/agua_1.jpg');
    background-size: 200%;
    background-position: 35% 45%;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col5-fila2 {
    background: url('img/agua_3.jpg');
    background-size: 200%;
    background-position: left bottom;
    min-height: 25vh;
    position: relative;
    width: auto;
    margin-bottom: 25px;
}

.col5-fila3 {
    background: url('img/mar_2.jpg');
    background-size: 300%;
    background-position: 85% 80%;
    min-height: 25vh;
    position: relative;
    width: auto;
}